FLASK_ENV=development

GOOGLE_OAUTH2_CLIENT_ID=client_id
GOOGLE_OAUTH2_CLIENT_SECRET=client_secret

FLASK_SESSION_SECRET_KEY=

# Database Configuration
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DATABASE=

CAMBRIDGE_UIS_API_KEY=
CAMBRIDGE_UIS_API_SECRET=
LOOKUP_API_URL=https://api.apps.cam.ac.uk/lookup-test/v1
