{% extends "sidebar.html" %}
{% block content %}

<div class="container max-w-4xl mx-auto p-4 md:px-6 lg:px-16"> 
  <header class="mb-12">
    <h1 class="text-3xl font-semibold tracking-tight mb-2">Site Manual</h1>
    <p class="text-[1.05rem] text-gray-300">
      Everything that you (hopefully!) need to know to manage the Library of Things website.
    </p>
  </header>

  <article class="mb-12">
    <a class="mb-3 block" id="getting-started" href="#getting-started">
      <span class="text-2xl font-semibold text-gray-400 mr-2">0</span>
      <span class="text-2xl font-semibold tracking-tight">Getting Started</span>
    </a>
    <section class="text-[15px]">
      <p class="mb-3">
        Since you are able to see this page, you must already be a librarian /
        administrator and should have access to the admin sidebar on the left.
      </p>
      <p class="mb-3">
        For each item, you can configure it such that it is lent out for a set duration,
        or until a specified date, or given away entirely.
      </p>
      <p class="mb-3">
        Administrators can put out public announcements that will be displayed on the
        homepage for all users to see. You can do this in the "Settings" section.
      </p>
      <p class="mb-3">
        Under "Item Requests", you will see all pending requests from users to
        borrow items. For each loan, you can either confirm item delivery (which
        will start the timer for the loan) or refuse the request.
      </p>
      <p class="mb-3">
        Under "Manage Inventory", you will see a list of all items. You can
        add new items, and also delete and edit existing items. Notably, you can
        also hide items, which makes them invisible to regular users but still
        visible in the admin inventory.
      </p>
      <p class="mb-3">
        Under "Manage Roles", administrators will be able to grant privileges to users.
      </p>
    </section>
  </article>

  <article class="mb-12">
    <a class="mb-3 block" id="user-access" href="#user-access">
      <span class="text-2xl font-semibold text-gray-400 mr-2">1</span>
      <span class="text-2xl font-semibold tracking-tight">&lt;user&gt; doesn't have access to the Library!</span>
    </a>
    <section class="text-[15px]">
      <p class="mb-3">
        This most likely means that they are not registered as a user on the website;
        you can verify this by checking the "User List" section in the admin sidebar.
        The list gets synced with
        <a href="https://lookup.cam.ac.uk/" class="hover:underline text-blue-500">Lookup (from Cambridge UIS)</a>
        each day at 03:00 UTC.
      </p>
    </section>
  </article>

  <article class="mb-12">
    <a class="mb-3 block" id="user-abuse" href="#user-abuse">
      <span class="text-2xl font-semibold text-gray-400 mr-2">2</span>
      <span class="text-2xl font-semibold tracking-tight">&lt;user&gt; is abusing the platform!</span>
    </a>
    <section class="text-[15px]">
      <p class="mb-3">
        You can choose to refuse their item requests, or disable their account entirely,
        in the "User List" section in the sidebar.
      </p>
    </section>
  </article>

  <article class="mb-12">
    <a class="mb-3 block" id="website-broken" href="#website-broken">
      <span class="text-2xl font-semibold text-gray-400 mr-2">3</span>
      <span class="text-2xl font-semibold tracking-tight">&lt;feature&gt; isn't working!</span>
    </a>
    <section class="text-[15px]">
      <p class="mb-3">If you are not the computing officer, please
        <a href="mailto:computing@kcsu.org.uk" class="hover:underline text-blue-500">contact them</a>
        for assistance.
      </p>
      <p class="mb-3">
        If you are the computing officer,
        <a href="https://github.com/KCSU/library-of-things" class="hover:underline text-blue-500">the source code is here.</a>
        Hopefully it isn't too tedious to maintain! I tried my best.
      </p>
      <p class="mb-3">
        If everything is on 🔥🔥🔥 and needs to be fixed urgently, you can
        <a href="mailto:lucasma09202@gmail.com" class="hover:underline text-blue-500">
          contact the original developer
        </a> (Lucas Ma, Computing Officer 2025-27). He will be more than happy to help.
      </p>
    </section>
  </article>

  <article class="mb-12">
    <a class="mb-3 block" id="new-feature" href="#new-feature">
      <span class="text-2xl font-semibold text-gray-400 mr-2">4</span>
      <span class="text-2xl font-semibold tracking-tight">I wish we had &lt;feature&gt;!</span>
    </a>
    <section class="text-[15px]">
      <p class="mb-3">
        Feature requests are always welcome! For now, please contact Lucas
        (while he is still the computing officer) to discuss your ideas.
      </p>
    </section>
  </article>

  <footer class="mt-10">
    <p class="text-sm text-gray-500">Last updated: 2026-09-22 (Lucas Ma)</p>
  </footer>
</div>

{% endblock %}