{% from 'icons.jinja' import category_icon %}

{% for item in items %}
<div class="card">
  <header>
    <h2>{{ item.title }}</h2>
    <p>{{ item.description }}</p>
  </header>
  <section class="px-0">
    <img loading="lazy" width="500" height="500" class="aspect-video object-cover hover:cursor-pointer"
      style="color:transparent" src="{{ item.image_url }}" alt="{{ item.title }}: {{ item.description }}"
      title="Click to expand image" />
  </section>
  <footer class="flex items-center gap-2">
    <span class="badge-outline">
      {% if item.borrow_type == "long_term" %}
      <span class="icon" data-icon="clock-7"></span>
      Long Loan
      {% elif item.borrow_type == "short_term" %}
      <span class="icon" data-icon="clock-2"></span>
      Short Loan
      {% elif item.borrow_type == "permanent" %}
      <span class="icon" data-icon="infinity"></span>
      Permanent
      {% endif %}
    </span>
    <span class="badge-outline">
      {{ category_icon(item.category) }}
      {{ item.category | capitalize }}
    </span>
    <button class="btn ml-auto font-medium">
      {% if item.borrow_type == "permanent" %}
      Take
      {% else %}
      Borrow
      {% endif %}
    </button>
  </footer>
</div>
{% endfor %}