{% for item in items %}
<div class="card">
  <header>
    <h2>{{ item.title }}</h2>
    <p>{{ item.description }}</p>
  </header>
  <section class="px-0">
    <img loading="lazy" class="aspect-video object-cover hover:cursor-pointer w-full"
      style="color:transparent" src="{{ item.image_url }}" alt="{{ item.title }}: {{ item.description }}"
      title="Click to expand image" />
  </section>
  <footer class="flex items-center gap-2">
    {% if item.borrow_length == "long" %}
    <span class="badge-outline">
      <span class="icon" data-icon="clock-7"></span>
      Long Loan
    </span>
    {% elif item.borrow_length == "short" %}
    <span class="badge-outline" {# data-tooltip="asdasdasdasdaaa" data-side="top" data-align="center" #}>
      <span class="icon" data-icon="clock-2"></span>
      Short Loan
    </span>
    {% elif item.borrow_length == "permanent" %}
    <span class="badge-outline" {# data-tooltip="123123123123123" data-side="top" data-align="center" #}>
      <span class="icon" data-icon="infinity"></span>
      Permanent
    </span>
    {% endif %}
    <span class="badge-outline">
      <span class="icon" data-icon="{{ item.category }}"></span>
      {{ item.category | capitalize }}
    </span>
    {% if item.borrow_length == "permanent" %}
    <button onclick="showConfirmOverlay('{{ item.title | escape }}', '{{ item.borrow_length }}', '{{ item.id }}')" class="btn ml-auto font-medium">Take</button>
    {% else %}
    <button onclick="showConfirmOverlay('{{ item.title | escape }}', '{{ item.borrow_length }}', '{{ item.id }}')" class="btn ml-auto font-medium">Borrow</button>
    {% endif %}
  </footer>
</div>
{% endfor %}