{% extends "sidebar.html" %}
{% block content %}

<div class="fixed top-0 left-0 w-full h-full z-[99] bg-black/30 backdrop-blur-sm hidden cursor-pointer transition-opacity duration-300 opacity-0 overlay" id="confirm-overlay" onclick="dismissOverlay()">
  <div class="flex items-center justify-center h-full w-full">
    <div class="card w-2/5 mb-5 border-[oklch(1 0 0/25%)] border-[1px] cursor-default" onclick="event.stopPropagation()">
      <section class="text-sm">
        <h2 class="font-semibold text-lg">Please read the following carefully before proceeding:</h2>
        <ul class="mt-4 flex list-disc flex-col gap-2 pl-6">
          <li class="short-loan-labels long-loan-labels">You are borrowing the item "<b class="item-title-labels"></b>".</li>
          <li class="permanent-labels">You are taking the item "<b class="item-title-labels"></b>".</li>
          <li class="short-loan-labels">You are borrowing this item on a <b>Short Loan</b>. Your item will be due <b>7 days</b> after the item is
            delivered to you.</li>
          <li class="long-loan-labels">You are borrowing this item on a <b>Long Loan</b>. Your item will be due <b>at the end of the academic year</b>.</li>
          <li class="permanent-labels">This item is yours to keep permanently. You do not need to return it.</li>
          <li class="short-loan-labels long-loan-labels">You can also return your item anytime before the deadline by arrangement.</li>
          {# <li class="short-loan-labels long-loan-labels">You may have <b>up to 3 items</b> on loan at any one time. Excluding this item, you can still borrow <b>1</b>
            more item(s).</li> #}
          {# <li class="permanent-labels">You may take a maximum of <b>one item</b> permanently each month. If you proceed, you will not be able to
            take any more items until next month. (You will still be able to borrow items within your borrow quota.)</li> #}
          <li>An email will be sent to your inbox (<span class="text-blue-700 dark:text-blue-400">{{
              user.email }}</span>) with details about collection of your item. (This is a manual process
            &mdash; please be patient!)</li>
          <li class="long-loan-labels short-loan-labels">Should the item be damaged beyond reasonable wear and tear, or should you fail to return the item before
            the deadline, the KCSU reserves the right to ask you to replace the item or reimburse us for its full value.
          </li>
          <li>The KCSU reserves the right to refuse any item request at our discretion.</li>
        </ul>
      </section>
      <footer>
        <button onclick="dismissOverlay()" class="btn btn-secondary">Cancel</button>
        <button onclick="requestItem()" class="btn btn-primary ml-auto">I agree and wish to proceed</button>
      </footer>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6" id="cards-container">
  {# TODO(lucas): possibly fade in to reduce SSR flicker? #}
  {% for _ in range(5) %}
  <div class="card">
    <header>
      <div class="h-4 bg-gray-200 animate-pulse rounded-full dark:bg-gray-700 w-36 mb-2"></div>
      <div class="h-2.5 bg-gray-200 animate-pulse rounded-full dark:bg-gray-700 w-full"></div>
      <div class="h-2.5 bg-gray-200 animate-pulse rounded-full dark:bg-gray-700 w-1/4"></div>
    </header>
    <section class="px-0">
      <div class="flex items-center justify-center h-48 animate-pulse bg-gray-300 dark:bg-gray-700">
        <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 18">
          <path
            d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
        </svg>
      </div>
    </section>
    <footer class="flex items-center gap-2">
      <div class="h-4 bg-gray-200 animate-pulse rounded-md dark:bg-gray-700 w-10"></div>
      <div class="h-4 bg-gray-200 animate-pulse rounded-md dark:bg-gray-700 w-16"></div>
      <div class="h-4 bg-gray-200 animate-pulse rounded-md dark:bg-gray-700 w-10"></div>
      <div class="h-4 ml-auto bg-gray-200 animate-pulse rounded-md dark:bg-gray-700 w-24"></div>
    </footer>
  </div>
  {% endfor %}
</div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}