{% from 'icons.jinja' import category_icon %}
{% extends "base.html" %}

{% block preamble %}
<aside class="sidebar" data-side="left" aria-hidden="false">
  <nav aria-label="Sidebar navigation">
    <header>
      <a href="/" class="btn-ghost p-2 h-12 w-full justifwy-start">
        <div
          class="bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-8 items-center justify-center rounded-lg">
          <img class="rounded-sm" src="{{ url_for('static', filename='images/logo.jpg') }}">
        </div>
        <div class="grid flex-1 text-left text-sm leading-tight">
          <span class="truncate font-medium">Library of Things</span>
          <span class="truncate text-xs">v0.1.0</span>
        </div>
      </a>
    </header>
    <section class="scrollbar">
      <div role="group">
        <h3>Categories</h3>
        <ul>
          <li>
            <a href="javascript:void(0)">{{ category_icon('clothing') }}<span>Clothing</span></a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ category_icon('kitchenware') }}<span>Kitchenware</span></a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ category_icon('sports') }}<span>Sports</span></a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ category_icon('electronics') }}<span>Electronics</span></a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ category_icon('others') }}<span>Others</span></a>
          </li>
        </ul>
      </div>
      {# Admin dashboard section -- TODO(lucas): properly implement #}
      {% if user.email == "khm39@cam.ac.uk"%}
      <div role="group">
        <h3>Administrator</h3>
        <ul>
          <li>
            <a href="javascript:void(0)">
              <span class="icon" data-icon="edit"></span>
              <span>Manage Inventory</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon" data-icon="shield"></span>
              <span>Permissions</span>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
    </section>
    <section class="!flex-none p-4">
      <div class="flex items-center gap-3 h-min">
        <img class="size-10 shrink-0 object-cover rounded-full" alt="@lucasma8795"
          src="https://github.com/lucasma8795.png">
        <div class="grid text-sm">
          <div>Logged in as <span class="font-semibold">{{ user.email | replace('@cam.ac.uk', '') }}</span></div>
          <a href="/logout" class="text-sm text-gray-500 hover:underline hover:cursor-pointer">Log out</a>
        </div>
      </div>
    </section>
  </nav>
</aside>
{% endblock %}

{% block main %}
<div class="container mx-auto p-8">
  {% block content %}{% endblock %}
  <footer class="mt-10">
    <hr class="my-6 w-full" />
    <span class="text-sm text-gray-500">
      © 2025 <a href="https://kcsu.org.uk/" class="hover:underline">King's College Student Union</a>.
      All rights reserved.
    </span>
  </footer>
</div>
{% endblock %}